@model Business.Models.Blog.BlogDetail
@{
    ViewData["Title"] = "Delete Blog";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="container mt-4">
    <h2 class="mb-4 text-danger"><i class="bi bi-trash"></i> Delete Blog</h2>
    <div class="card shadow p-4">
        <h4 class="text-danger">Are you sure you want to delete this blog?</h4>

        <dl class="row mt-3">
            <dt class="col-sm-3">Title</dt>
            <dd class="col-sm-9">@Model.Title</dd>

            <dt class="col-sm-3">Main Image</dt>
            <dd class="col-sm-9">
                @if (!string.IsNullOrEmpty(Model.MainImageUrl))
                {
                    <img src="@Model.MainImageUrl" class="img-thumbnail" style="max-height:150px;" />
                }
            </dd>

            <dt class="col-sm-3">Sidebar Image</dt>
            <dd class="col-sm-9">
                @if (!string.IsNullOrEmpty(Model.SidebarImageUrl))
                {
                    <img src="@Model.SidebarImageUrl" class="img-thumbnail" style="max-height:150px;" />
                }
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="d-flex justify-content-between">
                <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Cancel</a>
                <button type="submit" class="btn btn-danger"><i class="bi bi-check-lg"></i> Yes, Delete</button>
            </div>
        </form>
    </div>
</div>
